  // bower:scss
  // endbower
  // Fonts
  @import url('https://fonts.googleapis.com/css?family=Dosis:400,700'); // colors
  $colorRed: firebrick;
  $colorYellow: lightyellow;
  $colorGreen: lightgreen;
  $colorBlue: aliceblue;
  $colorDarkGrey: #333;
  $colorVeryDarkGrey: #222;
  $colorLighterDarkGrey: #32363A;
  $colorVeryLightGrey: #EEE; // images
  $imageMapbox: "https://api.mapbox.com/styles/v1/paddy089/cj7df4ztu0oe12rqfvpob5uks/static/11.567849,48.136348,12.51,0.00,0.00/712x400@2x?access_token=pk.eyJ1IjoicGFkZHkwODkiLCJhIjoiY2ozYmkxMTh4MDA1ZTMybXFxYnFpM3BpcSJ9.QFgSlh_GqSr9vM4i2ZSuEg"; // body
  body {
    background-color: $colorVeryLightGrey;
    font-family: 'Dosis', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
  }

  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-fixed {
    position: fixed;
  }

  .p-absolute {
    position: absolute;
  }

  .border-test {
    border: 2px solid red;
  }

  .f-bold {
    font-weight: 700;
  }

  .f-regular {
    font-weight: 400;
  }

  .f-size-l {
    font-size: 10vw;
  }

  .f-size-m {
    font-size: 4vw;
  }

  main {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    height: 10000px;
    .parallax {
      .c-01 {
        @include flex-center;
        height: 100vh;
        .title-maplab {
          display: inline-flex;
          text-transform: uppercase;
          color: $colorVeryDarkGrey; // :nth-child(3) {
          //   box-shadow: 0.2rem 0 $colorRed;
          // }
          .letter {
            padding: 0 .5rem 0 .5rem;
          }
        }
      }
      .c-02 {
        @include flex-center; 
        overflow-x: hidden;
        // transform: translateZ(-20px);
        // -webkit-transform: translateZ(-20px);
        .lab-verb-title-01 {
          top: -10vh; //right: -100vw;
          transform: translateZ(-50px);
        }
        .lab-verb-title-02 {
          //left: -100vw;
          top: 300vh; //margin-top: 10vh;
          // transform: translateZ(-1000px);
          // -webkit-transform: translateZ(-1000px)
        }
        .lab-verb-title-03 {
          //left: -100vw;
          top: 400vh;
          margin-top: 10vh;
          // transform: translateZ(-10px);
        }
      }
    }
  }
