  // bower:scss
  // endbower
 // ### fonts ### //
  @import url('https://fonts.googleapis.com/css?family=Dosis:400,700'); 
  // ### colors ### //
  $colorRed: firebrick;
  $colorYellow: lightyellow;
  $colorGreen: lightgreen;
  $colorDarkGrey: #333;
  $colorVeryDarkGrey: #222;
  $colorLighterDarkGrey: #32363A;
  $colorVeryLightGrey: #EEE;
  // ### themes ### //
  @mixin light-theme {
    background-color: $colorVeryLightGrey;
    color: $colorVeryDarkGrey;
  }
  @mixin dark-theme {
    background-color: $colorBlue;
    color: $colorVeryLightGrey;
  }
   // ### body, main ### //
  body {
    @include light-theme;
    font-family: 'Dosis', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
  }

  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-fixed {
    position: fixed;
  }

  .p-absolute {
    position: absolute;
  }

  .border-test {
    border: 2px solid red;
  }

  .f-bold {
    font-weight: 700;
  }

  .f-regular {
    font-weight: 400;
  }

  .f-size-l {
    font-size: 15vh;
  }

  .f-size-m {
    font-size: 8vh;
  }

  .f-uppercase {
    text-transform: uppercase;
  }

  .portrait {
    @include flex-center;
    height: 100vh;
    width: 100%;
    text-align: center;
  }

  main {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    // height: 10000px;
    .parallax {
      .c-01 {
        @include flex-center;
        height: 100vh;
        .title-maplab {
          display: inline-flex;
          .letter {
            padding: 0 .3rem 0 .3rem;
          }
        }
        .svg-title {
          height: 30vh;
          width: 80%;
        }
      }
      .lab-verb-title-01 {
        @include flex-center; 
        top: -10vh; //right: -100vw;
        transform: translateZ(-50px);
      }
      .c-02 {
        @include flex-center; 
        height: 200vh;
        // margin-top: 100vh;
      }
      .c03 {
        height: 300vh;
        width: 100%;
        // margin-top: 100vh;
        // padding-top: 200vh;
        background-color: $colorGreen;
      }
      .c04 {
        height: 100vh;
        width: 100%;
        background-color: $colorYellow;
        // top: 0;
        // left: -100vw;
        // z-index: 9000;
      }     
      .lastPage {
        position: relative;
        height: 100vh;
        width: 100%;
        // left: -100vw;
        background-color: lightblue;
        .ci-logo {
          // height: 30vh;
          @include flex-center;
          img {
            height: 50vh;
            width: auto;
          }
        }
        
        .social {
          // @include flex-center;
          // display: flex;
          // align-items: flex-start;
          // justify-content: center;
          // height: 60vh;
          position: absolute;
          left: 15vw;
          ul {
            list-style: none;
            // display: inline-flex;
            li {
              padding: 2vw;
            }
          }
          .facebook {
            color: blue;
          }
          .fk08 {
            color: green;
          }
          .carto {
            color: magenta;
          }
        }
      }
    }
  }

  